@mixin clearFix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin network_box($color) {
  background-color: lighten($color, 40%);
  color: darken($color, 20%);
  border: 2px solid $color;
  border-radius: 5px;
}

@mixin ZIndex() {
  @for $i from 1 through 1000 {
    .z-#{$i} {
      z-index: $i;
    }
  }
}

@mixin Opacity() {
  @for $i from 0 through 100 {
    .opacity-#{$i} {
      opacity: #{$i/100};
    }
  }
}

@include ZIndex();
@include Opacity();
