.table-responsive-stack {
  font-size: 14px !important;
  font-weight: 400;
  color: var(--text-color);
}
.table-responsive-stack a {
  color: var(--green);
}
.table-responsive-stack tr {
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 12px !important;
}
.table-responsive-stack tbody tr {
  margin-bottom: 10px;
}
.table-responsive-stack tr th:last-child {
  max-width: 190px;
}
.table-responsive-stack tr td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.table-responsive-stack tr td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  max-width: 190px;
}
.table-responsive-stack td,
.table-responsive-stack th {
  vertical-align: middle !important;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.table-responsive-stack th {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  background-color: transparent !important;
  border-bottom: none !important;
}
.table-responsive-stack .table-responsive-stack-thead {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  float: left;
}
.table-responsive-stack td,
.table-responsive-stack th {
  border-top: none;
}
.table-responsive-stack tbody tr td {
  vertical-align: middle;
}
.table {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 0.75rem !important;
  border-collapse: separate;
  border-spacing: 0 5px;
}
tbody tr {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background-color: var(--white);
}
tbody tr:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  background-color: var(--white);
  -webkit-box-shadow: var(--theme-table-hover-shadow);
  box-shadow: var(--theme-table-hover-shadow);
  z-index: 999;
  border-radius: 12px;
}
tr:hover td {
  background-color: var(--color-theme-table-row-hover);
}
tr:hover td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tr:hover td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
thead tr {
  background-color: var(--color-theme-table-row-sticky);
  color: var(--color-theme-text-thead);
  font-size: 0.875rem;
}
thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  background-color: var(--color-theme-table-row-sticky);
  z-index: 10;
}

.page-link {
  user-select: none;
  cursor: pointer;
}

/*--------------------------
    Pagination Styles  
---------------------------*/
.pagination {
  float: right;
  margin-bottom: 0px;
}
.darkTheme .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--text-color);
  background-color: var(--frontbg);
  border: 1px solid var(--border-color);
}
.darkTheme .page-link:hover {
  z-index: 2;
  color: var(--white);
  text-decoration: none;
  background-color: var(--frontbg-hover);
  border-color: var(--frontbg-hover);
}
.darkTheme .page-item.active .page-link {
  z-index: 1;
  color: var(--white);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}
.darkTheme .page-item .page-link:hover,
.darkTheme .page-item .page-link:focus,
.darkTheme .page-item .page-link.active {
  box-shadow: none;
}

.page-item.active .page-link {
  z-index: 1;
  color: var(--white);
  background-color: var(--cyan);
  border-color: var(--cyan);
}
.page-item .page-link:hover,
.page-item .page-link:focus,
.page-item .page-link.active {
  box-shadow: none;
}
