
/*
|----------------------------------------------------------------------------
| Footer Style
|----------------------------------------------------------------------------
*/
.footer {
  font-size: 14px;
  min-height: 75px;
  color: var(--text-color);
  font-weight: 300;
  padding-top: 25px;
  margin-top: auto;
}
.footer-wrap {
  border-top: 1px solid var(--light-grey);
  padding: 15px 0;
  line-height: 18px;
}
.footer-wrap p {
  margin: 5px 0px;
}
.footer-wrap p a {
  text-decoration: underline;
}
.privacy-terms {
  margin-top: 10px;
  float: right;
}
.privacy-terms .list-inline i {
  font-size: 18px;
}
.privacy-terms a {
  padding: 0 8px;
}
.footer a:hover,
.privacy-terms a:hover {
  color: var(--cyan);
}



.darkTheme .footer-wrap {
  border-top: 1px solid var(--border-color);
}


/*--------------------------
    Mobile footer nav Styles  
---------------------------*/
.mobile-footer-block {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    justify-self: flex-end;
}
.mobile-footer-block .navbar-nav .nav-item {
	margin-top: 0px!important;
}