.custom-header {
  //margin-bottom: 140px;
  margin-bottom: 90px;
}

.navbar-custom {
  padding: 20px 0px !important;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-custom .logo .logo-dark {
  display: inline-block;
}
.navbar-custom .logo .logo-light {
  display: none;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: transparent;
  padding: 6px 10px;
  margin: 0 3px;
  font-weight: 300;
}
.navbar-custom .navbar-nav .nav-item .nav-link:hover,
.navbar-custom .navbar-nav .nav-item .nav-link:active {
  color: var(--white);
}
.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: var(--white);
}
.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: var(--white);
}
.navbar-custom .navbar-nav > .button:last-child {
  margin-right: 0px;
}
.navbar-custom .navbar-nav > .button > .btn.nav-link {
  text-align: center;
  clear: both;
  background: var(--frontbg);
  color: var(--text-color);
  //color: $text-primary-01;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 12px;
  max-width: 200px;
  line-height: inherit;
  height: inherit;
  border-radius: 8px;
  box-shadow: none;
}
.navbar-custom .navbar-nav > .button > .btn.nav-link:hover {
  //background-color: var(--light);
  //border-color: var(--light-grey);
}
.navbar-custom .navbar-nav > .button > .btn.nav-link.active {
  //background-color: var(--light);
  //border-color: var(--light-grey);
  //color: var(--text-color);
  color: $primary-01;
}
.navbar-custom .navbar-nav > .button > .btn.nav-link.warning {
  background-color: var(--light-pink);
  border-color: var(--pink);
  color: var(--pink);
}
.navbar-custom .nav-sticky .navbar-nav > .button > .btn.nav-link {
  // background-color: ;
  border-color: var(--cyan);
  color: var(--cyan);
}
.navbar-expand-lg .navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.navbar-expand-lg .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.darkTheme .navbar-custom .logo .logo-light {
  display: inline-block;
}
.darkTheme .navbar-custom .logo .logo-dark {
  display: none;
}
.darkTheme .navbar-custom .navbar-nav > .button > .btn.nav-link {
  background: var(--frontbg);
  border: 1px solid transparent;
}
.darkTheme .navbar-custom .navbar-nav > .button > .btn.nav-link:hover {
  background-color: var(--frontbg-hover);
  border-color: var(--frontbg-hover);
  color: var(--white);
}

/*--- navbar sticky ---*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 10px 0px;
  background-color: var(--white);
  -webkit-box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.2);
}
.nav-sticky.navbar-custom .logo .logo-dark {
  display: inline-block;
}
.nav-sticky.navbar-custom .logo .logo-light {
  display: none;
}
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link {
  color: rgba(40, 40, 46, 0.8);
}
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:hover,
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:active {
  //color: var(--cyan);
  color: $primary-01;
}
.nav-sticky.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: var(--cyan);
}
.nav-sticky.navbar-custom .navbar-nav > .button > .btn.nav-link {
  //background-color: var(--light);
  //color: var(--text-color);
}
.nav-sticky.navbar-custom .navbar-nav > .button > .btn.nav-link:hover {
  //background-color: var(--cyan);
  //border-color: var(--cyan);
  //color: var(--white);
}
.nav-sticky.navbar-custom .navbar-nav > .button > .btn.nav-link.active {
  //background-color: var(--cyan);
  //border-color: var(--cyan);
  //color: var(--white);
}
.nav-sticky .has-search .form-control {
  color: var(--text-color);
  background-color: var(--light);
  box-shadow: none;
}
.nav-sticky .has-search .icon-search {
  color: var(--text-color);
}
.nav-sticky .has-search .form-control:focus,
.nav-sticky .has-search .form-control:hover {
  background-color: var(--white);
  border-color: var(--light-grey) !important;
}

.darkTheme .nav-sticky.navbar-custom .logo .logo-dark {
  display: none;
}
.darkTheme .nav-sticky.navbar-custom {
  background-color: var(--headerbg);
  -webkit-box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.8);
}
.darkTheme .nav-sticky.navbar-custom .logo .logo-light {
  display: inline-block;
}
.darkTheme .nav-sticky.navbar-custom .navbar-nav > .button > .btn.nav-link {
  background-color: var(--background-color);
  border: 1px solid transparent;
}
.darkTheme
  .nav-sticky.navbar-custom
  .navbar-nav
  > .button
  > .btn.nav-link:hover {
  background-color: var(--frontbg-hover);
  border-color: var(--frontbg-hover);
  color: var(--white);
}
.darkTheme .navbar-custom .navbar-nav > .button > .btn.nav-link.active {
  background-color: var(--frontbg-hover);
  border-color: var(--frontbg-hover);
  color: var(--white);
}
.darkTheme
  .nav-sticky.navbar-custom
  .navbar-nav
  > .button
  > .btn.nav-link.active {
  background-color: var(--frontbg-hover);
  border-color: var(--frontbg-hover);
  color: var(--white);
}
.darkTheme .navbar-custom .navbar-nav > .button > .btn.nav-link.warning {
  color: var(--pink);
}

.tvl-loader {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.hBadge {
  padding: 10px 10px;
  border-radius: 8px;
  background: var(--frontbg);
  color: #ef869a;
  border: 1px solid transparent;
}
.nav-sticky .hBadge {
  background-color: var(--light);
  border: 1px solid transparent;
}
.darkTheme .hBadge {
  color: #ef869a;
  background-color: #212130;
}
.darkTheme .nav-sticky .hBadge {
  background-color: var(--background-color);
  border: 1px solid transparent;
}

.d-xs-none {
  @media screen and (max-width: $xs-width) {
    display: none !important;
  }
}

.d-none-till-sm {
  @media screen and (max-width: $sm-width) {
    display: none !important;
  }
}

.d-none-till-md {
  @media screen and (max-width: $md-width) {
    display: none !important;
  }
}

.tMenu {
  position: relative;
}
.tMenu .custom-dropdown-toggle {
  padding: 3px 12px;
  color: var(--text-color);
  background: var(--frontbg);
  border-radius: 8px;
  border: 1px solid transparent;
}
.tMenu .custom-dropdown-toggle i {
  color: var(--text-color);
}
.tMenu .custom-dropdown-toggle:hover {
    color: var(--text-color);
	background-color: var(--light);
    border-color: var(--light-grey);
}
.tMenu .custom-dropdown-toggle:visited {
  color: var(--text-color);
  background: var(--frontbg);
    border-color: var(--light-grey);
}
.nav-sticky .tMenu .custom-dropdown-toggle {
    background-color: var(--light);
    color: var(--text-color);
}
.nav-sticky .tMenu .custom-dropdown-toggle:hover {
    background-color: var(--light);
    color: var(--text-color);
	border: 1px solid transparent;
}
.tMenu ul.dropdown {
  display:none;
  position: absolute;
  top: 100%;
  right: 0px;
  margin-top: .5em;
  color: var(--text-color);
  background: var(--frontbg);
  border: 1px solid var(--border-color);
  min-width: 150px;
  padding: 10px 0px;
  border-radius: 8px;
}
.tMenu ul.dropdown li {
	list-style-type: none;
}
.tMenu ul.dropdown li a {
	text-decoration: none;
	padding: .5em 1em;
	display: block;
}
.tMenu ul.dropdown li a:hover {
	color: var(--text-color);
}
.darkTheme .tMenu .custom-dropdown-toggle {
  color: var(--text-color);
  background: var(--frontbg)!important;
  border: 1px solid transparent;
}
.darkTheme .tMenu .custom-dropdown-toggle:hover {
    background-color: var(--frontbg-hover)!important;
    color: var(--white);
}
.darkTheme .tMenu .custom-dropdown-toggle:visited {
    color: var(--text-color);
	background-color: var(--light);
    border-color: var(--light-grey);
}
.darkTheme .nav-sticky .tMenu .custom-dropdown-toggle {
    background-color: var(--background-color)!important;
    border: 1px solid transparent;
}
.darkTheme .nav-sticky .tMenu .custom-dropdown-toggle:hover {
    background-color: var(--frontbg-hover)!important;
    color: var(--white);
}
.darkTheme .tMenu ul.dropdown li a:hover {
	color: var(--white);
}



// Developer Scss

.custom-header{
  &.sticky-header{
    .navbar{
      top: 0;
    }
  }
  .top-header {
    padding: 11px 0 12px;
    background: #013772;
    .social-media-wrapper {
      display: flex;
      align-items: center;
      column-gap: 11px;
      justify-content: flex-start;
      position: relative;
      z-index: 3;
      margin-bottom: 0;
      padding: 0;
      @media (max-width: $screen-xs) {
        column-gap: 5px;
      }
      li {
        list-style: none;
        a {
          color: #000f21;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: #7dc7f4;
          font-size: 10.022px;
          line-height: 10.022px;
        }
      }
    }
    ul.top-menu{
      margin: 0;
      padding: 0;
      text-align: right;
      li{
        list-style: none;
        display: inline-block;
        &:not(:last-of-type){
          margin: 0 20px 0 0;
        }
        a{
          color: $color-white;
        }
      }
    }
    .user-sign-in-wrapper {
      display: flex;
      align-items: center;
      column-gap: 43px;
      justify-content: flex-end;
      position: relative;
      z-index: 1;
      margin-bottom: 0;
      @media (max-width: $screen-xs) {
        column-gap: 10px;
      }
      li {
        list-style: none;
        a {
          display: flex;
          align-items: center;
          column-gap: 6.5px;
          @media (max-width: $screen-xs) {
            column-gap: 4px;
          }
          span {
            color: #e6eff6;
            font-size: 16.793px;
            font-weight: 500;
            line-height: 16.793px;
            text-transform: capitalize;
            @media (max-width: $screen-xs) {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
  .navbar{
    top: 47px;
  }
}

