#tx-history .table-responsive-stack tr td:last-child {
  max-width: inherit;
}
#tx-history .table-responsive-stack tr th,
#tx-history .table-responsive-stack tr td {
  width: 20%;
  max-width: 20%;
}
#tx-history .table-responsive-stack tr th:nth-child(4n),
#tx-history .table-responsive-stack tr td:nth-child(4n) {
  width: 40%;
  max-width: 40%;
}
#tx-history .table-responsive-stack tr td .row {
  padding: 5px 0px 5px 0px;
  margin: 0px;
  border-bottom: 1px solid var(--border-color);
}
#tx-history .table-responsive-stack tr td .row:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

#tx-history-block {
  margin-top: 140px !important;
 }